.delimg		{	float: left;
				list-style: none;
				position: relative;
				border: 1px solid rgba(111,111,111,0.5);
				border-radius: 10px;
				max-width: 15%;
				height: 200px;
			}

input.delete	{	
				background: url(../img/2.png) center no-repeat;
				background-size: 16px;
				width:20px;
				height:20px;
				float:right;
				margin:5px 5px 0 0;
				border-radius:10px;
	
			}
.delimg img	{	width:100%;
		
			}
.delimg a	{	font-size:0.5em;}